$grey:#E5E5E5;
$yellow: #E8C300;
$white: #FFFFFF;
$clearGrey:#F8F8F8;
$whiteClear: rgba(255, 255, 255, 0.3);
$red: #D15943;
$black: #000000;
$lightGrey: #33333380;
$pink: #b34165;
$blackText: #48555B;
$blue: #1da1f2;
$grey: #070707;
$grey: #F6F6F6;


